/* Styles for .array-container */
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60vh; /* Adjusted height for better fit */
  width: 100%;
  margin-top: 2rem;
  position: relative;
  background-color: #000000; /* Dark background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Ensure contents don't overflow */
}

.array-bar {
  width: 5px;
  margin: 0 1px;
  background-color: rgb(96, 49, 15);
  transition: height 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
}

/* Styles for .button-container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem; /* Added margin at the bottom */
}

.button-container button {
  margin: 0 10px;
  padding: 12px 20px; /* Slightly larger padding */
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #008cba;
  color: rgb(67, 167, 65); /* Adjusted text color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.button-container button:hover {
  background-color: #005f5f;
}
